*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter';
}

body{
    background: #0C0C0C;
}

button{
    outline: none;
    border: none;
    background: none;
}

.container{
    max-width: 1230px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header{
    width: 100%;
    height: 983px;
    background-image: url(./images/kimetsu-no-yaiba.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.shd{
    width: 100%;
    height: 100%;
    background-image: url(./images/shd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 20px;
}

.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38D0FA;
    color: black; 
    width: 82px; 
    height: 31px;
    border-radius: 4px;
}

.logo2{
    color: #38D0FA;
}

.header_list{
    display: flex;
    align-items: center;
    gap: 64px;
}

.header_list-item a{
    color: white;
    font-size: 18px;

}

.header_list-item a:hover{
    color: #38D0FA;
    transition: 0.3s;
}

.header_list-item:nth-child(1){
    border-bottom: 1.5px #38D0FA solid;
    padding: 7px 0;
    
}

