* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter";
}

body {
  background: #0c0c0c;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  width: 100%;
  height: 930px;
  background: url(banners/kimetsubg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: 0.3s;
}

.shd {
  width: 100%;
  height: 100%;
  background-image: url(images/shd.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-start;
}

.logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38d0fa;
  color: black;
  width: 82px;
  height: 31px;
  border-radius: 4px;
}

.logo2 {
  color: #38d0fa;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_list-item a {
  color: white;
  font-size: 18px;
}

.header_list-item a:hover {
  color: #38d0fa;
  transition: 0.3s;
}

/* ------------------------------------------------- */

.player_wrap {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px;
}

.player_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 205px;
}

.player_info_img {
  width: 100%;
  height: 275px;
  border-radius: 10px;
}

.player_info_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: 2px;
  background: #181818;
  border-radius: 10px;
}

.player_info_box_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  background: transparent;
  transition: 0.2s;
  border-radius: 8px;
  cursor: default;
}

.player_info_box_text:hover {
  background: #242424;
}

.player_info_box_text_small {
  font-size: 8px;
  color: #9e9e9e;
}

.player_info_box_text_type {
  font-size: 12px;
  color: #dedede;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.player_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_title_text {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  cursor: default;
}

.player_title_rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.player_title_rating_text {
  font-size: 32px;
  color: #dedede;
}

.videoplayer {
  border-radius: 15px;
}

.player_episodes {
  display: flex;
  gap: 10px;
}

.player_episodes_btn {
  width: 100px;
  height: 40px;
  background: #181818;
  color: #fff;
  border-radius: 7px;
  transition: 0.3s;
}

.player_episodes_btn.active {
  border: 2px solid #38d0fa;
  color: #38d0fa;
}

.player_dub {
  display: flex;
  flex-direction: column;
  background: #181818;
  border-radius: 10px;
  width: 205px;
}

.player_dub_text {
  font-size: 18px;
  padding: 10px 15px;
  color: #dedede;
  border-bottom: 1px solid #7f7f7f;
}

.player_dub_list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.player_dub_list_item {
  font-size: 12px;
  padding: 5px;
  color: #dedede;
  background: transparent;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 4px;
}

.player_dub_list_item.active {
  background: #242424;
  color: #38d0fa;
  font-weight: 600;
}

.player_dub_list_item:hover {
  background: #242424;
}
