* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter";
}

body {
  background: #0c0c0c;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
}

.logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38d0fa;
  color: black;
  width: 82px;
  height: 31px;
  border-radius: 4px;
}

.logo2 {
  color: #38d0fa;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_list-item a {
  color: white;
  font-size: 18px;
}

.header_list-item a:hover {
  color: #38d0fa;
  transition: 0.3s;
}

.header_list-item:nth-child(4) {
  border-bottom: 1.5px #38d0fa solid;
  padding: 7px 0;
}

.cards {
  max-width: 826px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  background: #181818;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 15px;
  margin-top: 40px;
}

.card {
  width: 187.75px;
  height: auto;
}

.card img {
  width: 187.75px;
  height: 269.02px;
  border-radius: 10px;
}

.card p {
  font-size: 18px;
  color: white;
}
/* ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */

.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.genres_card {
  max-width: 354px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #181818;
  display: inline;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 15px;
  margin-top: 40px;
}

.genres_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #7f7f7f;
  padding: 11px 16px;
}

.genres_title p {
  font-size: 18px;
  color: #fff;
}

#clearGenres {
  font-size: 18px;
  color: #fff;
}

.genres {
  display: inline-block;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
}

.genres_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.genres_checkbox p {
  font-size: 15px;
  color: #dedede;
}

.box {
  width: 18px;
  height: 18px;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* 2 состояние */
.box.plus {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #fff;
}

/* 3 состояние */
.box.minus {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.genres_btn {
  width: 324px;
  height: 30px;
  background-color: #38d0fa;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.genres_btn p {
  font-size: 18px;
  color: #000;
  font-weight: bolder;
}
